extends layout 

block content 
    h1 You're Cool! 
    p Thanks for helping me out that I'm Cool 
    ol 
        li I will complete odin 
        li I will complete AWS solution architect \
        li I will get a internship 
        li I will get a good job 
    ol 

